DISCORD_CLIENT_TOKEN="yourdiscordclienttoken"

SHARE_EMOJI_MARKDOWN="<:Share:bignumber>"
LOCATION_EMOJI_MARKDOWN="<:Location:bignumber>"
WEBSITE_EMOJI_MARKDOWN="<:Website:bignumber>"
CHARM_EMOJI_MARKDOWN="<:Charm:bignumber>"
RECAST_EMOJI_MARKDOWN="<:Recast:bignumber>"
ANALYTICS_EMOJI_MARKDOWN="<:Analytics:bignumber>"
JOIN_EMOJI_MARKDOWN="<:Join_Date:bignumber>"
SCRIBE_EMOJI_MARKDOWN="<:Scribe:bignumber>"
BIRTHDAY_EMOJI_MARKDOWN="<:Birthday:bignumber>"
PONDER_EMOJI_MARKDOWN="<:Ponder:bignumber>"

POSTGRES_USER="username"
POSTGRES_PASSWORD="supersecurepassword"
POSTGRES_HOST="127.0.0.1"
POSTGRES_PORT="5432"
POSTGRES_DB="dbname"